<%= form_for(experiment_task) do |f| %>
  <% if experiment_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experiment_task.errors.count, "error") %> prohibited this experiment_task from being saved:</h2>

      <ul>
      <% experiment_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :experiment_id %>
    <br/>
    <%= f.select :experiment_id, options_for_select(Experiment.all.map {|v| [v.name, v.id]}, :selected => @experiment_id), { :include_blank => "Please select experiment"}, {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :task_id %>
    <br/>
    <%= f.select :task_id, options_for_select(Task.all.map {|v| [v.name, v.id]}), { :include_blank => "Please select task"}, {:class => "form-control"} %>
  </div>

  <div class="field">
    <%= f.label :order %>
    <%= f.number_field :order, :value => @experiment_task.order || 1, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-success' %>
  </div>

<% end %>
