<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<h3>Experiment Tasks</h3>
</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Experiment</th>
      <th>Task</th>
      <th>Order</th>
      <th>Actions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiment_tasks.each do |experiment_task| %>
      <tr>
        <td><%= Experiment.find(experiment_task.experiment_id).name %></td>
        <td><%= Task.find(experiment_task.task_id).name %></td>
        <td><%= experiment_task.order %></td>
        <td><%= button_to 'Show', experiment_task, method: :get, class: "btn btn-default" %></td>
        <td><%= button_to 'Edit', edit_experiment_task_path(experiment_task), method: :get, class: "btn btn-warning" %></td>
        <td><%= button_to 'Destroy', experiment_task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Experiment Task', new_experiment_task_path, method: :get, class: "btn btn-primary" %>
