<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<p>
  <strong>Experiment:</strong>
  <%= @experiment_task.experiment_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @experiment_task.task_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @experiment_task.order %>
</p>

<%= link_to 'Edit', edit_experiment_task_path(@experiment_task) %> |
<%= link_to 'Back', experiment_tasks_path %>
