<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :visualisation_id %>
    <!-- <%= f.text_field :visualisation_id %> -->
    <%= f.collection_select(:visualisation_id, Visualisation.all, :id, :title) %>
  </div>

  <div class="field">
    <%= f.label :task_type %>
    <%= f.select :task_type, ['Click', 'Question'] %>
  </div>

  <div class="field">
    <%= f.label :description, "Description/Question" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :no_of_clicks %>
    <%= f.number_field :no_of_clicks, :value => @task.no_of_clicks || 1 %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-success' %>
  </div>

  <script>
  var task_type = $("#task_task_type option:selected").text();
  if (task_type !== "Click") {
    $("#task_no_of_clicks").attr("disabled", true);
  }

  $("#task_task_type").change(function() {
    task_type = this.options[this.selectedIndex].value;
    if (task_type === "Click") {
      $("#task_no_of_clicks").attr("disabled", false);
    } else {
      $("#task_no_of_clicks").attr("disabled", true);
    }
  });
  </script>
<% end %>
