<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<h3>Tasks</h3>
</br>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Visualisation</th>
        <th>Type</th>
        <th>Description</th>
        <th>Actions</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= link_to Visualisation.find(task.visualisation_id).title, visualisation_path(task.visualisation_id), method: :get %></td>
          <td><%= task.task_type %></td>
          <td><%= task.description %></td>
          <td>
            <%= link_to 'Show', task, method: :get, class: "btn btn-default" %>
            <%= link_to 'Edit', edit_task_path(task), method: :get, class: "btn btn-warning" %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= button_to 'New Task', new_task_path, method: :get, class: "btn btn-primary" %>
