<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<h3>Tasks</h3>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Visualisation</th>
        <th>Type</th>
        <th>Tags</th>
        <th>Actions</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.order(created_at: :desc).each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.name %></td>
          <td><%= link_to Visualisation.find(task.visualisation_id).title, visualisation_path(task.visualisation_id), method: :get %></td>
          <td><%= task.task_type %></td>
          <td>
              <% task.visualisation.colour_list.each do |colour| %>
                <span class="label label-default"><%= colour %></span>
              <% end %>
              <% task.visualisation.type_list.each do |type| %>
                <span class="label label-default"><%= type %></span>
              <% end %>
          </td>
          <td>
            <%= link_to 'Show', task, method: :get, class: "btn btn-default btn-spacing" %>
            <%= link_to 'Edit', edit_task_path(task), method: :get, class: "btn btn-warning btn-spacing" %>
            <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-spacing" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination">
  <%= will_paginate @tasks, :container => false %>
</div>

<br/><br/>

<%= button_to 'New Task', new_task_path, method: :get, class: "btn btn-primary" %>

<br/><br/>
