<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Visualisation:</strong>
  <%= @visualisation.html.html_safe %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.task_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Number of clicks allowed:</strong>
  <%= @task.no_of_clicks %>
</p>

<%= link_to 'Preview Task', task_preview_path(@task), method: :get %>
</br></br>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
