<div class="buttons-container">
  <button id="taskButton" class="btn btn-primary" onclick="startTask()" disabled>Start Task</button>
  <span class="button-inline" id="json_submit">
  <%= form_for(:request, :url => submit_task_result_path(:uuid => @experiment_result.uuid, :position => @position)) do |f| %>
          <%= f.hidden_field :result, :value => "{}" %>
            <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
  </span>
</div>

<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<%= render 'shared_partials/click_task' %>
