<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<%= render 'shared_partials/question_task' %>

<%= form_for(:request, :url => submit_task_result_path(:uuid => @experiment_result.uuid, :position => @position)) do |f| %>
    <div class="actions">
        <%= f.text_area :result %>
        <br/><br/>
        <div id="json_submit">
          <%= f.submit "Submit", class: "btn btn-success" %>
        </div>
    </div>
<% end %>
