<div class="visualisation">
  <%= @visualisation.html.html_safe %>
</div>

<script>
  document.getElementById("taskDescription").innerHTML = "<%= @task.description %>";

  function init() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
       			.attr("x", 0)
       			.attr("y", 0)
       			.attr("height", h)
       			.attr("width", w)
       			.style("stroke", "black")
       			.style("fill", "none")
       			.style("stroke-width", 1);
  }

  loadVisualisation(init);
</script>

<%= form_for(:request, :url => submit_task_result_path(:uuid => @experiment_result.uuid, :position => @position)) do |f| %>
    <div class="actions">
        <%= f.text_area :result %>
        <br/><br/>
        <div id="json_submit">
          <%= f.submit "Submit", class: "btn btn-success" %>
        </div>
    </div>
<% end %>
