<div class="panel panel-default">
  <table class="table table-hover">
    <thead>
      <tr>
        <td><strong>Click</strong></td>
        <td><strong>Time (ms)</strong></td>
        <td><strong>Coordinates</strong></td>
      </tr>
    </thead>

    <tbody>
      <% @e_result.result.each do |click| %>
        <tr class="hoverCircles" name="<%= @e_result.id %>" id="<%= click[0] %>">
          <td><%= click[0] %></td>
          <td><%= click[1]["time"] %></td>
          <td>(<%= click[1]["coordinates"][0].round %>, <%= click[1]["coordinates"][1].round %>)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(".hoverCircles").on("mouseover", function() {
    highlightCircle($(this).attr('name') + "click" + $(this).attr('id'));
  })
  .on("mouseout", function() {
    deHighlightCircle($(this).attr('name') + "click" + $(this).attr('id'));
  });

</script>
