<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Experiment Task Result
    </div>
  </div>

  <table class="table">
    <tr>
      <td><strong>Experiment</strong></td>
      <td><%= link_to @experiment_task.experiment.name, @experiment_task.experiment %></td>
    </tr>
    <tr>
      <td><strong>Task<strong></td>
      <td><%= link_to @experiment_task.task.name, @experiment_task.task %></td>
    </tr>
    <tr>
      <td><strong>Task Description<strong></td>
      <td><%= @experiment_task.task.description %></td>
    </tr>
    <tr>
      <td><strong>Order<strong></td>
      <td><%= @experiment_task.order %></td>
    </tr>
  </table>
</div>

<% if @experiment_task.task.task_type == "Click" %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        Summary
      </div>
    </div>

    <table class="table table-hover" id="averageHover">
      <tr>
        <td><strong>Average time</strong></td>
        <td><%= @average_time %> ms</td>
      </tr>
      <tr>
        <td><strong>Average coordinates</strong></td>
        <td>(<%= @average_coordinates[0] %>, <%= @average_coordinates[1] %>)</td>
      </tr>
    </table>
  </div>
<% end %>

<div>
  <%= @visualisation.html.html_safe %>
</div>

<br/>

<% ExperimentTaskResult.where(experiment_task_id: @experiment_task.id).each do |experiment_task_result| %>
  <% if experiment_task_result.experiment_task.task.task_type == "Click" %>
    <%= render partial: "click_task_result", object: @e_result = experiment_task_result %>
  <% else %>
    <%= render partial: "question_task_result", object: @e_result = experiment_task_result %>
  <% end %>
<% end %>

<br/><br/>

<style>
  .click-circle {
      fill: white;
      stroke: black;
      stroke-width: 2px;
  }

  .click-circle-red {
      fill: red;
      stroke: black;
      stroke-width: 2px;
  }
</style>

<script>

  function highlightCircle(id) {
    $("#" + id)
      .attr("r", 7);
  }

  function deHighlightCircle(id) {
    $("#" + id)
      .attr("r", 5);
  }

  function init() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("height", h)
            .attr("width", w)
            .style("stroke", "black")
            .style("fill", "none")
            .style("stroke-width", 1);

    <% if @experiment_task.task.task_type == "Click" %>
      <% ExperimentTaskResult.where(experiment_task_id: @experiment_task.id).each do |experiment_task_result| %>
        <% experiment_task_result.result.each do |result| %>
            drawCirclePro(selected_svg, <%= result[1]["coordinates"][0] %>, <%= result[1]["coordinates"][1] %>, 5, <%= result[1]["time"] %>, false, "<%= experiment_task_result.id %>click<%= result[0] %>");
        <% end %>
      <% end %>

      drawCirclePro(selected_svg, <%= @average_coordinates[0] %>, <%= @average_coordinates[1] %>, 5, <%= @average_time %>, true, "average");
    <% end %>
  }

  loadVisualisation(init);

  <% if @experiment_task.task.task_type == "Click" %>
    $("#averageHover").on("mouseover", function() {
      highlightCircle("average");
    })
    .on("mouseout", function() {
      deHighlightCircle("average");
    });
  <% end %>

</script>
