<div class="panel panel-default">
  <div class="panel-heading">
    Experiment Task Results
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <td><strong>Task Name</strong></td>
          <td><strong>Experiment Name</strong></td>
          <td><strong>No. of Results</strong></td>
        </tr>
      </thead>
      <tbody>
        <% @experiment_tasks.each do |experiment_task| %>
          <tr>
            <td><%= link_to experiment_task.task.name, experiment_task.task %></td>
            <td><%= link_to experiment_task.experiment.name, experiment_task.experiment %></td>
            <td><%= experiment_task.experiment_task_results.length %></td>
            <td><%= link_to "Display Results", all_experiment_task_results_path(experiment_task.id), class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Back', results_path, :class => 'btn btn-default' %>
