<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Experiment Task Result
    </div>
  </div>

  <table class="table">
    <tr>
      <td><strong>Experiment</strong></td>
      <td><%= link_to @experiment_task.experiment.name, @experiment_task.experiment %></td>
    </tr>
    <tr>
      <td><strong>Task<strong></td>
      <td><%= link_to @experiment_task.task.name, @experiment_task.task %></td>
    </tr>
    <tr>
      <td><strong>Task Description<strong></td>
      <td><%= @experiment_task.task.description %></td>
    </tr>
    <tr>
      <td><strong>Order<strong></td>
      <td><%= @experiment_task.order %></td>
    </tr>
  </table>
</div>

<div>
  <%= @visualisation.html.html_safe %>
</div>

<br/>

<% ExperimentTaskResult.where(experiment_task_id: @experiment_task.id).each do |experiment_task_result| %>
  <% if experiment_task_result.experiment_task.task.task_type == "Click" %>
    <%= render partial: "click_task_result", object: @result = experiment_task_result.result %>
  <% else %>
    <%= render partial: "question_task_result", object: @result = experiment_task_result.result %>
  <% end %>
<% end %>

<br/><br/>

<style>
  .click-circle {
      fill: white;
      stroke: black;
      stroke-width: 2px;
  }
</style>

<script>


  function drawCircle(x, y, size, time) {
    var circle = svg.append("circle")
        .attr('class', 'click-circle')
        .attr("cx", x)
        .attr("cy", y)
        .attr("r", size)
        .append("title")
        .text(function(d) {
              return time + " ms";
        });
  }

  var loadResults = function() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("height", h)
            .attr("width", w)
            .style("stroke", "black")
            .style("fill", "none")
            .style("stroke-width", 1);

    <% ExperimentTaskResult.where(experiment_task_id: @experiment_task.id).each do |experiment_task_result| %>
      <% experiment_task_result.result.each do |result| %>
          drawCircle(<%= result[1]["coordinates"][0] %>, <%= result[1]["coordinates"][1] %>, 5, <%= result[1]["time"] %>);
      <% end %>
    <% end %>
  }

</script>
