<div class="panel panel-default">
  <div class="panel-heading">
    Experiment Instances
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <div class="large-figure"><%= @experiment_results.where(completed: true).length %></div>
        <span class="label label-success">Completed</span>
      </div>
      <div class="col-md-2">
        <div class="large-figure"><%= @experiment_results.where(completed: false).length %></div>
        <span class="label label-warning">In Progress</span>
      </div>
      <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <td><strong>Most Recent Results</strong>
                <td><strong>Progress</strong></td>
                <td><strong>Last Updated</strong></td>
              <tr>
            </thead>
            <tbody>
              <% @experiment_results.limit(3).each do |experiment_result| %>
                <tr>
                  <td><%= link_to experiment_result.uuid, run_experiment_path(experiment_result.uuid) %></td>
                  <td>
                    <% if experiment_result.completed %>
                      <span class="label label-success">Completed</span>
                    <% else %>
                      <span class="label label-warning">In Progress</span>
                    <% end %>
                    <%= link_to view_experiment_result_path(experiment_result.uuid) do %>
                      <span class="badge"><%= experiment_result.experiment_task_results.length %> / <%= experiment_result.experiment.experiment_tasks.length %></span>
                    <% end %>
                  </td>
                  <td><%= experiment_result.updated_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%= link_to "All Results", "", class: "btn btn-default" %>

<br/><br/>

<div class="panel panel-default">
  <div class="panel-heading">
    Experiment Task Results
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <td><strong>Experiment Name</strong></td>
          <td><strong>Task Name</strong></td>
          <td><strong>No. of Results</strong></td>
        </tr>
      </thead>
      <tbody>
        <% @experiment_task.each do |experiment_task| %>
          <tr>
            <td><%= experiment_task.experiment.name %></td>
            <td><%= experiment_task.task.name %></td>
            <td><%= experiment_task.experiment_task_results.length %></td>
            <td><%= link_to "Display Results", "", class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "All Results", "", class: "btn btn-default" %>
