<div class="panel panel-default">
  <div class="panel-heading">
    Experiment Instances
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <div class="large-figure"><%= @experiment_results.where(completed: true).length %></div>
        <span class="label label-success">Completed</span>
      </div>
      <div class="col-md-2">
        <div class="large-figure"><%= @experiment_results.where(completed: false).length %></div>
        <span class="label label-warning">In Progress</span>
      </div>
      <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <td><strong>Most Recent Results</strong>
                <td><strong>Progress</strong></td>
                <td><strong>Last Updated</strong></td>
              <tr>
            </thead>
            <tbody>
              <% @experiment_results.limit(3).each do |experiment_result| %>
                <tr>
                  <td><%= experiment_result.uuid %></td>
                  <td>
                    <% if experiment_result.completed %>
                      <span class="label label-success">Completed</span>
                    <% else %>
                      <span class="label label-warning">In Progress</span>
                    <% end %>
                    <%= link_to view_experiment_result_path(experiment_result.uuid) do %>
                      <span class="badge"><%= experiment_result.experiment_task_results.length %> / <%= experiment_result.experiment.experiment_tasks.length %></span>
                    <% end %>
                  </td>
                  <td><%= experiment_result.updated_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to "View All Results", "", class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<br/><br/>

<div class="panel panel-default">
  <div class="panel-heading">
    Experiment Task Results
  </div>
  <div class="panel-body">
    <%= link_to "View All Results", experiment_task_results_index_path, class: "btn btn-default" %>
  </div>
</div>
