<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<h3>Experiments</h3>
</br>

<div class="panel panel-default">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @experiments.each do |experiment| %>
        <tr>
          <td><%= experiment.name %></td>
          <td>
            <%= link_to 'Show', experiment, method: :get, class: "btn btn-default" %>
            <%= link_to 'Edit', edit_experiment_path(experiment), method: :get, class: "btn btn-warning" %>
            <%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= button_to 'New Experiment', new_experiment_path, method: :get, class: "btn btn-primary" %>
