<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<h3>Experiments</h3>

<div class="panel panel-default">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
        <th>Results</th>
      </tr>
    </thead>

    <tbody>
      <% @experiments.order(created_at: :desc).each do |experiment| %>
        <tr>
          <td><%= experiment.id %></td>
          <td>
            <% if experiment.active %>
              <span class="label label-success">Open</span>
            <% else %>
              <span class="label label-danger">Closed</span>          
            <% end %>
            <span class="experiment-title-small">
              <%= experiment.name %>
            </span>
          </td>
          <td>
            <%= link_to 'Show', experiment, method: :get, class: "btn btn-default btn-spacing" %>
            <%= link_to 'Edit', edit_experiment_path(experiment), method: :get, class: "btn btn-warning btn-spacing" %>
          </td>
          <td>
            <%= link_to 'Download', experiment_all_results_path(experiment), class: "btn btn-default btn-spacing" %>
            <%= link_to 'Show All', experiment_task_results_for_experiment_path(experiment), class: "btn btn-default btn-spacing" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= button_to 'New Experiment', new_experiment_path, method: :get, class: "btn btn-primary" %>
