<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      How your results compare
    </div>
  </div>

  <table class="table">
    <tr>
      <td>
        <span class="glyphicon glyphicon-record" aria-hidden="true"></span> white dots represent where others clicked.<br/>
      <span class="glyphicon glyphicon-record red-text" aria-hidden="true"></span> red dots represent where you clicked.
      </td>
    </tr>
  </table>
</div>

<div>
  <%= @visualisation.html.html_safe %>
</div>

<br/>

<%= link_to 'Back', submit_experiment_result_path(params[:uuid]), :class => 'btn btn-default' %>

<style>
  .click-circle {
      fill: white;
      stroke: black;
      stroke-width: 2px;
  }

  .click-circle-red {
      fill: red;
      stroke: black;
      stroke-width: 2px;
  }
</style>

<script>

  function highlightCircle(id) {
    $("#" + id)
      .attr("r", 7);
  }

  function deHighlightCircle(id) {
    $("#" + id)
      .attr("r", 5);
  }

  function drawCircle(x, y, size, time, average, id) {
    var circle = svg.append("circle");
    circle.attr('class', 'click-circle')
      .attr("cx", x)
      .attr("cy", y)
      .attr("r", size)
      .attr("id", id)
      .append("title")
      .text(function(d) {
        return time + " ms";
      });

    if (average) {
      circle.attr('class', 'click-circle-red');
    }
  }

  var loadResults = function() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("height", h)
            .attr("width", w)
            .style("stroke", "black")
            .style("fill", "none")
            .style("stroke-width", 1);

    <% if @experiment_task.task.task_type == "Click" %>
      <% ExperimentTaskResult.where(experiment_task_id: @experiment_task.id).each do |experiment_task_result| %>
        <% experiment_task_result.result.each do |result| %>
          <% @experiment_task_result.result.each do |your_result| %>
            <% if result == your_result %>
            <% else %>
              drawCircle(<%= result[1]["coordinates"][0] %>, <%= result[1]["coordinates"][1] %>, 5, <%= result[1]["time"] %>, false, "<%= experiment_task_result.id %>click<%= result[0] %>");
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% @experiment_task_result.result.each do |your_result| %>
        drawCircle(<%= your_result[1]["coordinates"][0] %>, <%= your_result[1]["coordinates"][1] %>, 5, <%= your_result[1]["time"] %>, true, "<%= @experiment_task_result.id %>click<%= your_result[0] %>");
      <% end %>
    <% end %>
  }

</script>
