<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      How your results compare
    </div>
  </div>

  <table class="table">
    <tr>
      <td>
        <span class="glyphicon glyphicon-record" aria-hidden="true"></span> white dots represent where others clicked.<br/>
      <span class="glyphicon glyphicon-record red-text" aria-hidden="true"></span> red dots represent where you clicked.
      </td>
    </tr>
  </table>
</div>

<div>
  <%= @visualisation.html.html_safe %>
</div>

<br/>

<%= link_to 'Back', submit_experiment_result_path(params[:uuid]), :class => 'btn btn-default' %>

<style>
  .click-circle {
      fill: white;
      stroke: black;
      stroke-width: 2px;
  }

  .click-circle-red {
      fill: red;
      stroke: black;
      stroke-width: 2px;
  }
</style>

<script>

  function highlightCircle(id) {
    $("#" + id)
      .attr("r", 7);
  }

  function deHighlightCircle(id) {
    $("#" + id)
      .attr("r", 5);
  }

  function init() {

    var selected_svg = d3.select("svg");
    appendRectangle(selected_svg);

    <% if @experiment_task.task.task_type == "Click" %>
      <% ExperimentTaskResult.where(experiment_task_id: @experiment_task.id).each do |experiment_task_result| %>
        <% experiment_task_result.result.each do |result| %>
          <% @experiment_task_result.result.each do |your_result| %>
            <% if result == your_result %>
            <% else %>
              drawCirclePro(selected_svg, <%= result[1]["coordinates"][0] %>, <%= result[1]["coordinates"][1] %>, 5, <%= result[1]["time"] %>, false, "<%= experiment_task_result.id %>click<%= result[0] %>");
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% @experiment_task_result.result.each do |your_result| %>
        drawCirclePro(selected_svg, <%= your_result[1]["coordinates"][0] %>, <%= your_result[1]["coordinates"][1] %>, 5, <%= your_result[1]["time"] %>, true, "<%= @experiment_task_result.id %>click<%= your_result[0] %>");
      <% end %>
    <% end %>
  }

  loadVisualisation(init);

</script>
