<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<h3>
  <%= @experiment.name %>
</h3>

<br/>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Public intro text</strong></div>
  <div class="panel-body">
    <%= @experiment.intro_html.html_safe %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Tasks</strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Order</th>
        <th>Task</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @experiment_tasks.each do |experiment_task| %>
        <tr>
          <td><strong><%= experiment_task.order %></strong></td>
          <td><%= link_to Task.find(experiment_task.task_id).name, task_path(experiment_task.task_id), method: :get %></td>
          <td>
            <%= link_to 'Edit', edit_experiment_task_path(experiment_task), method: :get, class: "btn btn-warning btn-white-text" %>
            <%= link_to 'Remove', experiment_task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-white-text" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add Task", new_experiment_task_path(:experiment_id => @experiment.id), class: "btn btn-success btn-white-text" %><br/><br/>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Instances</strong></div>
  <div class="panel-body">
    Public link to create and start an instance: <%= link_to experiment_public_show_url(@experiment.id), experiment_public_show_url(@experiment.id) %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Progress</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @experiment_results.each do |experiment_result| %>
        <tr>
          <td><%= link_to experiment_result.uuid, run_experiment_path(experiment_result.uuid) %></td>
          <td>
            <% if experiment_result.completed %>
              <span class="label label-success">Completed</span>
            <% else %>
              <span class="label label-warning">In Progress</span>
            <% end %>
            <%= link_to view_experiment_result_path(experiment_result.uuid) do %>
              <span class="badge"><%= experiment_result.experiment_task_results.length %> / <%= @experiment.experiment_tasks.length %></span>
            <% end %>
          </td>
          <td><%= button_to 'Destroy', experiment_result, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to "Create Instance", experiment_create_instance_path(@experiment.id), class: "btn btn-primary btn-white-text" %> </br></br>
<%= link_to "Preview", experiment_preview_path(:experiment_id => @experiment.id, :position => 1), class: "btn btn-info btn-white-text" %>
<%= link_to 'Edit', edit_experiment_path(@experiment), class: "btn btn-warning btn-white-text" %> </br></br>
<%= link_to 'Back', experiments_path, class: "btn btn-default" %>
