<h3>Your results</h3></br>

<div class="panel panel-default">
  <div class="panel-heading"><strong><%= @experiment_result.experiment.name %></strong></div>
  <table class="table">
    <thead>
      <tr>
        <td>Question</td>
        <td>Description</td>
        <td>Result</td>
      </tr>
    </thead>

    <tbody>
      <% @experiment_result.experiment_task_results.each do |result| %>
        <tr>
          <td><%= result.experiment_task.order %></td>
          <td><%= result.experiment_task.task.description %></td>
          <td>
            <% if result.experiment_task.task.task_type == "Click" %>
              <%= render partial: "click_task_result", object: @result = result.result %>
            <% else %>
              <%= render partial: "question_task_result", object: @result = result.result %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
