<h3>Thanks for taking part!</h3></br>

<div class="panel panel-default">
  <div class="panel-heading"><strong>Your Results</strong></div>
  <table class="table">
    <thead>
      <tr>
        <td><strong>Question</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Result</strong></td>
      </tr>
    </thead>

    <tbody>
      <% @experiment_task_results.each do |result| %>
        <tr>
          <td><%= result.experiment_task.order %></td>
          <td><%= result.experiment_task.task.description %></td>
          <td>
            <% if result.experiment_task.task.task_type == "Click" %>
              <%= render partial: "experiments/partials/click_task_result_compare", object: @e_t_result = result %>
              <%= button_to "View where others clicked", public_experiment_task_result_path(experiment_task_id: result.experiment_task.id), method: :get, class: "btn btn-default" %>
            <% else %>
              <%= render partial: "experiments/partials/question_task_result", object: @result = result.result %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
