<div class="panel panel-default">
  <div class="panel-heading"><strong><%= @experiment_result.experiment.name %></strong> <br/> Result <%= @experiment_result.id %></div>
  <table class="table">
    <thead>
      <tr>
        <td><strong>Task Number</strong></td>
        <td><strong>Task Name</strong></td>
        <td><strong>Result</strong></td>
      </tr>
    </thead>

    <tbody>
      <% @experiment_task_results.each do |result| %>
        <tr>
          <td><%= result.experiment_task.order %></td>
          <td><%= result.experiment_task.task.name %></td>
          <td>
            <% if result.experiment_task.task.task_type == "Click" %>
              <%= render partial: "experiments/partials/click_task_result", object: @result = result.result %>
            <% else %>
              <%= render partial: "experiments/partials/question_task_result", object: @result = result.result %>
            <% end %>
            <%= button_to "View Result",
                experiment_view_experiment_task_result_path(
                  experiment_id: @experiment.id,
                  experiment_task_result_id: result.id),
                  method: :get, class: "btn btn-default"
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
