<button id="taskButton" class="btn btn-primary" onclick="startTask()" disabled>Start Task</button>

</br></br>

<input id="request_result" hidden></input>
<div id="json_submit">
    <input type="button" onclick="location.href='<%= task_url(@task) %>';" value="Finish Preview" class="btn btn-success"/>
</div>

<div id="results"></div>

<style>
  .click-circle {
      fill: white;
      stroke: black;
      stroke-width: 2px;
  }
</style>

<script>

  document.getElementById("json_submit").hidden = true;

  var numberOfClicksAllowed = <%= @task.no_of_clicks %>;
  var numberOfClicks = 0;
  var taskActive = false;

  // store results for the task
  var results = {};

  var s1 = new StopWatch();

  function startTask() {
    d3.selectAll(".click-circle").remove();
    taskActive = true;
    document.getElementById("results").innerHTML = "";
    document.getElementById("taskButton").disabled = true;
    document.getElementById("taskButton").innerHTML = "Task active";
    document.getElementById("taskDescription").innerHTML = "<strong><%= @task.description %></strong> <i>Clicks remaining: <%= @task.no_of_clicks %></i>";
    s1.Start();
  }

  function recordResult(coordinates) {
    s1.Stop();
    var time = s1.ElapsedMilliseconds;

    var singleResult = {
      "time": time,
      "coordinates": coordinates
    }

    results[numberOfClicks] = singleResult;

    numberOfClicks += 1;
    document.getElementById("taskDescription").innerHTML = "<strong><%= @task.description %></strong> <i>Clicks remaining: " + (numberOfClicksAllowed - numberOfClicks) + "</i>";
    if (numberOfClicks === numberOfClicksAllowed) {
      stopTask();
    }
  }

  function stopTask() {
    taskActive = false;
    displayResults(results);
    results = {};
    numberOfClicks = 0;
    document.getElementById("taskButton").innerHTML = "Task Complete";
    document.getElementById("json_submit").hidden = false;
  }

  function displayResults(results) {
      var results_html = "<table class='table'><tr>" +
      "<td><strong>No.</strong></td>" +
      "<td><strong>Coordinates (pixels)</strong></td>" +
      "<td><strong>Time (ms)</strong></td>" +
      "</tr>"
      for (var key in results) {
        var results_row = "<tr>" +
        "<td>" + key + "</td>" +
        "<td>(" + results[key].coordinates[0] + ", " + results[key].coordinates[1] + ")</td>" +
        "<td>" + results[key].time + "</td></tr>";
        results_html += results_row;
      }
      // document.getElementById("results").innerHTML = results_html + "</table>";
      document.getElementById("request_result").value = JSON.stringify(results);
  }

  function init() {
    var selected_svg = d3.select("svg");
    var h = selected_svg.attr("height");
    var w = selected_svg.attr("width");

    selected_svg.append("rect")
       			.attr("x", 0)
       			.attr("y", 0)
       			.attr("height", h)
       			.attr("width", w)
       			.style("stroke", "black")
       			.style("fill", "none")
       			.style("stroke-width", 1);

    selected_svg.on("click", function() {
        if (taskActive) {
          recordResult(d3.mouse(this));
          drawCircle(selected_svg, d3.mouse(this)[0], d3.mouse(this)[1], 5);
        }
    });

    document.getElementById("taskButton").disabled = false;
  }

  loadVisualisation(init);
</script>
