<%= form_for(visualisation) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :html, "Link to HTML" %>
    <%= f.text_field :html %>
  </div>

  <div class="field">
    <%= f.label :img_src, "Image Source" %>
    <%= f.text_field :img_src %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-success' %>
  </div>
<% end %>
