<%= form_for(visualisation) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :html, "Link to HTML" %>
    <%= f.text_field :html, :class => "form-control" %>
  </div>

  <div class="field">
    <%= f.label :img_src, "Image Source" %>
    <%= f.text_field :img_src, :class => "form-control" %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>
