<h3>Visualisations</h3>
</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <% @visualisations.each do |visualisation| %>
    <tr>
      <td><strong><%= visualisation.id %></strong></td>
      <td><%= visualisation.title %></td>
      <!-- override turbolinks -->
      <td><%= link_to 'Show', visualisation_path(visualisation), method: :get %></td>
      <td><%= link_to 'Recreate', visualisation_recreate_path(visualisation, :stage => 'filled'), method: :get %></td>
    </tr>
  <% end %>
</table>

</br>

<%= button_to 'New Visualisation', new_visualisation_path, method: :get, class: "btn btn-primary" %>
