<h1>New Visualisation</h1>

<%= form_for :visualisation, url: visualisations_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :json_url %><br>
    <%= f.text_field :json_url %><br>

    <%= f.label :csv_url %><br>
    <%= f.text_field :csv_url %><br>

    <%= f.label :html %><br>
    <%= f.text_field :html %><br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
