<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <strong><%= @visualisation.title %></strong>
    </div>
  </div>

  <table class="table">
    <tr>
      <td><strong>HTML</strong></td>
      <td><%= @html_link %></td>
    </tr>
    <tr>
      <td><strong>Thumbnail URL</strong></td>
      <td><%= @visualisation.img_src %></td>
    </tr>
  </table>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        Tasks Appears In
      </div>
    </div>

    <table class="table">
      <tbody>
        <% if @visualisation.tasks.length > 0 %>
          <% @visualisation.tasks.each do |task| %>
            <tr>
              <td><%= link_to task.name, task %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>None</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<div>
  <%= @visualisation.html.html_safe %>
</div>

<script>
  loadVisualisation(function() {
    console.log("Visualisation successfully loaded!");
  });
</script>

<%= link_to 'Edit', edit_visualisation_path(@visualisation), class: "btn btn-warning" %>
<%= link_to 'Destroy', @visualisation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

<br/><br/>

<%= link_to 'Back', visualisations_path, :class => "btn btn-default" %>
