<h3>Visualisations</h3>

<div class="currently-displaying">
  Currently displaying visualisations with the <strong><%= params[:tag] %></strong> tag (<%= link_to 'View all', visualisations_path %>)
</div>

<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Colour Tags</th>
        <th>Type Tags</th>
        <th>Actions</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @visualisations.order(created_at: :desc).each do |visualisation| %>
        <tr>
          <td><%= visualisation.id %></td>
          <td><%= visualisation.title %></td>
          <td>
            <% if visualisation.colour_list.length > 0 %>
              <% visualisation.colour_list.each do |colour| %>
                <span class="label label-default"><%= link_to colour, group_by_tags_path(colour) %></span>

              <% end %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <% if visualisation.type_list.length > 0 %>
              <% visualisation.type_list.each do |type| %>
                <span class="label label-default"><%= link_to type, group_by_tags_path(type) %></span>
              <% end %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <%= link_to 'Show', visualisation_path(visualisation), method: :get, class: "btn btn-default btn-spacing" %>
            <%= link_to 'Edit', edit_visualisation_path(visualisation), class: "btn btn-warning btn-white-text btn-spacing" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination">
   <%= will_paginate @visualisations, :container => false %>
</div>

<br/><br/>

<%= button_to 'New Visualisation', new_visualisation_path, method: :get, class: "btn btn-primary" %>

<br/><br/>
