<!DOCTYPE html>
<html>
  <head>
    <title>VizTest</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.ravenjs.com/3.15.0/raven.min.js"></script>
    <script>Raven.config('<%= ENV["RAVEN_DSN"] %>').install()</script>
  </head>

  <body data-turbolinks="false">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand viz-logo" do %>
          VizTest <span class="glyphicon glyphicon-signal viz-logo-small" aria-hidden="true"></span>
        <% end %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Visualisations", visualisations_path %></li>
          <li><%= link_to "Tasks", tasks_path %></li>
          <li><%= link_to "Experiments", experiments_path %></li>
          <li><%= link_to "Results", results_path %></li>
        </ul>
      </div>
    </nav>
    <div class="body-container">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
